body {
    background-color: #36393e; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      float: inline-start;
      position: sticky;
      text-align: center;
     color: white;
     text-decoration: none;
}

.warn {
    color: #bae1ff;
}



.discord a {
    text-decoration: none;
    color: white;
}

.antibot a {
    text-decoration: none;
    color: white;
}
