body {
    background-color: #36393e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: inline-start;
    position: inherit;
    text-align: center;
    color: white;
    text-decoration: none;
    line-height: 23px;
    margin-top: 200px;
}

#pfp {
    border-radius: 100%;
}

.container {
    font-size: 130%;
    top: 50%;
    left: 50%;
}

.container a {
    text-decoration: none;
    color: #bae1ff;
}

.footer {
    overflow: hidden;
    font-size: 12px;
    font-family: cursive;
    position: relative;
    margin-top: 20rem;
}

.container a:hover {
    color: white;
}