@keyframes j_ddev {
  0% {
    top: 1px;
  }
  25% {
    top: -40px;
  }
  100% {
    top: 0.2px;
  }
}

#profilepic {
  position: relative;
  top: auto;
  animation-name: j_ddev;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
