/*

Source: https://codemyui.com/rainbow-text-animation/


*/

#rainbow_text_animated {
  background: linear-gradient(
    to right,
    #e3e3ff,
    #dff2fd,
    #e2fce6,
    #fcfade,
    #ffeee2
  ); /*#6666ff, #0099ff , #00ff00, #ff3399, #6666ff */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 3s infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
