body {
  /* background-color: #280d1b; */
  background-color: #22051e;
  color: transparent;
  font-family: "Victor Mono";
  justify-content: center;
  height: 90vh;
  align-items: center;
  display: flex;
  white-space: normal;
  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.container {
  text-align: center;
}

.text {
  line-height: 1px;
  text-align: left;
}

a {
  text-decoration: none;
  color: rgb(20, 161, 254);
}

a:hover {
  text-decoration: underline;
}

h4 {
  margin-top: auto;
}

.links {
  color: #cb71bb;
}

.links:hover {
  color: rgba(247, 245, 245, 0.748);
}

.embed {
  border-style: solid;
  border-left: 600px solid #cb71bb;
  border-radius: 7px;
  background-color: #2f3136;
  border-width: medium;
  padding: 9px;
}

.embed-anti {
  border-style: solid;
  border-left: 600px solid rgb(54, 36, 255);
  border-radius: 7px;
  background-color: #2f3136;
  border-width: medium;
  padding: 10px;
  padding-bottom: 0%;
}

.embed-pizza {
  margin-top: 7px;
  border-style: solid;
  border-left: 600px solid #7289da;
  border-radius: 7px;
  background-color: #2f3136;
  border-width: medium;
  padding: 10px;
  padding-bottom: 0%;
}

.embed-zygote {
  margin-top: 7px;
  border-style: solid;
  border-left: 600px solid #c057f9;
  border-radius: 7px;
  background-color: #2f3136;
  border-width: medium;
  padding: 10px;
  padding-bottom: 0%;
}

.corner-pic {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.corner-pic img {
  width: 100px;
  height: 100px;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pfp {
  width: 128px;
  height: 130px;
  border-radius: 100%;
  border: 4px solid #cb71bb;
}

@media (max-width: 768px) {
  #mb {
    /*   display: inline-flexbox; */
    display: inline;
  }

  .corner-pic {
    display: none;
  }
}
